
<header class="header-section">
    <h1 class="h1-header"> <a routerLink="">Financial System Control</a> </h1>

    <section class="section-user-notifications">

        <section class="notifications-transactions">
            <fa-icon [icon]="faBell"></fa-icon>
            <span class="transactions-header">
                <a routerLink="TransactionsComponent">Transactions</a>
            </span>
        </section>

        <section class="notifications-transactions">
            <fa-icon [icon]="faUser"></fa-icon>
            <span class="transactions-header">
                <a routerLink="TransactionsComponent">Fernando</a>
            </span>
        </section>

    </section>


</header>