<section class="transactions-list">

    <div class="calendar">
        <a class="calendar-link" routerLink="">Go to Home</a>
        <div class="section-month-container">
            <button class="previous-month-btn" (click)="previousMonth()">Mes
                Anterior</button>
            <span class="span-currentDate">{{ currentMonth }} de {{ currentYear }}</span>
            <button class="next-month-btn" (click)="nextMonth()">Proximo Mes</button>
        </div>
    </div>



    <div *ngFor="let items of filteredListTransactions"
        class="transactions-items">
        <div class="id">
            id
            <div>{{ items.id }}</div>
        </div>

        <div class="date">
            date
            <div>{{ getFormatedDate }}</div>
        </div>

        <div class="category">
            category
            <div>{{ items.category }}</div>
        </div>

        <div class="title">
            title
            <div>{{ items.title }}</div>
        </div>

        <div class="amount">
            amount
            <div>{{ items.amount | currency:'BRL' }}</div>
        </div>

        <div class="transactionModel">
            transactionModel
            <div>{{ items.modelTransactions }}</div>
        </div>

        <div class="Delete">
            Delete
            <div>
                <fa-icon (click)="deleteItem(items.id)" [icon]="faTrash"></fa-icon>
            </div>

        </div>

    </div>

</section>