<section class="transactions-list">

    <div class="calendar">
        <a class="calendar-link" routerLink="">Go to Home</a>
        <div class="section-month-container">
            <button class="previous-month-btn" (click)="previousMonth()">Previous Month</button>
            <span class="span-currentDate">{{ currentMonth }} de {{ currentYear }}</span>
            <button class="next-month-btn" (click)="nextMonth()">Next Month</button>
        </div>
    </div>



    <div *ngFor="let items of filteredListTransactions"
        class="transactions-items">
        <div class="id-container">
            id
            <div class="id">{{ items.id }}</div>
        </div>

        <div class="date-container">
            date
            <div class="date">{{ getFormatedDate }}</div>
        </div>

        <div class="category-container">
            category
            <div class="category">{{ items.category }}</div>
        </div>

        <div class="title-container">
            title
            <div class="title">{{ items.title }}</div>
        </div>

        <div class="amount-container">
            amount
            <div class="amount">{{ items.amount | currency:'BRL' }}</div>
        </div>

        <div class="transactionModel-container">
            transaction-Model
            <div class="transaction-model">{{ items.modelTransactions }}</div>
        </div>

        <div class="delete-container">
            Delete
            <div>
                <fa-icon class="delete" (click)="deleteItem(items.id)" [icon]="faTrash"></fa-icon>
            </div>

        </div>

    </div>

</section>
