<main class="main-section">
    <h2 class="h2-main-section">Transactions Dashboard</h2>

    <section class="transactions-section">



        <div class="current-balance">
            <section class="current-balance-elements">
                <span class="span-currentBalance">Current Balance</span>
                <strong class="strong-currentBalance">{{
                    updateValues().Total | currency:'BRL'}}</strong>
            </section>
            <fa-icon class="balanced-icon" [icon]="faScaleBalanced"></fa-icon>
        </div>

        <div class="current-balance">
            <section class="income-elements">
                <span class="span-income">Incomes</span>
                <strong class="strong-income">{{ updateValues().income |
                    currency:'BRL'}}</strong>
            </section>
            <fa-icon class="icon-income" [icon]="faArrowUp"></fa-icon>
        </div>

        <div class="current-balance">
            <section class="expense-elements">
                <span class="span-expense">Expenses</span>
                <strong class="strong-expense">{{ updateValues().expense |
                    currency:'BRL' }}</strong>
            </section>
            <fa-icon class="icon-expense" [icon]="faArrowDown"></fa-icon>
        </div>

    </section>

    <form [formGroup]="formulario" (ngSubmit)="submitForm()" class="transactions-types">

        <div class="title-section">
            <label class="label-title-section" for="">Title</label>
            <input class="input-title-section" tabindex="1" type="text" placeholder="description"
                formControlName="formTitle" />
        </div>

        <div class="amount-section">
            <label class="label-amount-section" for="amountInput">Amount</label>
            <input class="input-amount-section" tabindex="2" id="amountInput" type="number" placeholder="0,00"
                formControlName="formAmount" />

            <span class="flex flex-col">

                <small class="small-income-positive">
                    positive + (income)
                </small>

                <small class="small-expense-negative">
                    negative - (expense)
                </small>

            </span>

        </div>


        <div class="btn-section">
            <button (click)="updateValues()" tabindex="3" class="btn-transaction">
                New Transaction
            </button>
        </div>
    </form>

    <div [ngClass]="{'hidden-modal': !showModal}" class="modal-element">
      <fa-icon class="success-transaction-icon" [icon]="faCircleCheck"></fa-icon>
      <span class="span-transaction">Transação Adicionada!</span>
      <small class="small-transactions">Vá para <span class="span-smallText">Transactions</span> para ver suas transações</small>
      <button (click)="toggleModal()" class="btn-closeModal">Close Modal</button>
    </div>
</main>
